/* helpers */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.1rem;
}

.accesorial {
    margin-top: 5px;
}

input {
    border: none;
    border-radius: 8px;
}

#color {
    border-radius: 2px;
}

.font {
    font-weight: bolder;
}

.formulary {
    background-color: rgb(241, 235, 226);
    border-radius: 7px;
}

.button-submit {
    background-color: rgb(224, 215, 233);
    color: rgb(14, 13, 13);
    transition: 1s;
}

.button-submit:hover {
    font-size: 1.2rem;
    background-color: rgb(77, 100, 231);
    transition: all 1s;
    color: black;
}